<div id="<%= dom_id uniform %>">
  <p>
    <strong>Collection:</strong>
    <%= uniform.collection %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= uniform.size %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= uniform.color %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= uniform.quantity %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= uniform.price %>
  </p>

</div>
